footer {
  width: 100%;
  max-width: 1920px;
  min-height: 560px;
  margin-top: 84px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #f8f8f8;
  & > div:first-of-type {
    width: 62.5%;
    min-height: 355px;
    display: flex;
    & > div:first-of-type {
      width: 40.1%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 31px;
      & > div:first-of-type {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & > span:first-of-type {
          font-family: Montserrat;
          color: #cccccc;
          font-size: 45.99px; /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          text-align: left;
        }
        & > div {
          font-family: Roboto;
          color: #999999;
          font-size: 15px; /* Приближение из-за подстановки шрифтов */
          font-weight: 400;
          line-height: 24px; /* Приближение из-за подстановки шрифтов */
          text-align: left;
        }
        & > span::last-of-type {
          font-family: Montserrat;
          color: #333333;
          font-size: 18px; /* Приближение из-за подстановки шрифтов */
          font-weight: 700;
          text-align: left;
          font-family: Montserrat;
          color: #333333;
          font-size: 14px; /* Приближение из-за подстановки шрифтов */
          font-weight: 400;
          text-align: left;
        }
      }
      & > hr {
        background-color: #e5e5e5;
        height: 1px;
        width: 100%;
      }
      & > div:last-of-type {
        display: flex;
        flex-direction: column;
        & > div:first-of-type {
          & > span {
            font-family: Roboto;
            color: #999999;
            font-size: 15px; /* Приближение из-за подстановки шрифтов */
            font-weight: 300;
            font-style: italic;
            line-height: 24px; /* Приближение из-за подстановки шрифтов */
            text-align: left;
          }
          & > a {
            width: 16px;
            height: 14px;
          }
        }
        & > div:last-of-type {
          display: flex;
          & > input {
            border-style: solid;
            border-width: 1px;
            border-color: #e7e7e7;
            box-sizing: border-box;
            background-color: #ffffff;
            max-width: 230px;
            height: 40px;
          }
          & > button {
            border: none;
            background-color: #95e1d3;
            max-width: 150px;
            height: 40px;
            & > span {
              font-family: Montserrat;
              color: #ffffff;
              font-size: 14px; /* Приближение из-за подстановки шрифтов */
              font-weight: 700;
              text-align: center;
              text-transform: uppercase;
              padding: 15px;
            }
          }
        }
      }
    }
    & > div:nth-of-type(2) {
      width: 28%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      & > span {
        font-family: Montserrat;
        color: #333333;
        font-size: 14px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
      }
      & > div {
        width: 100%;
        min-height: 79px;
        display: flex;
        align-items: center;
        & > img {
          width: 35.7%;
          margin-right: 20px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          justify-content: center;
          & > div {
            font-family: Montserrat;
            color: #333333;
            font-size: 12px; /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 18px; /* Приближение из-за подстановки шрифтов */
            text-align: left;
            text-transform: uppercase;
          }
          & > span > {
            font-family: Roboto;
            color: #999999;
            font-size: 13px; /* Приближение из-за подстановки шрифтов */
            font-weight: 300;
            font-style: italic;
            line-height: 24px; /* Приближение из-за подстановки шрифтов */
            text-align: left;
          }
        }
      }
    }
    & > div:last-of-type {
      width: 31.9%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & > span:first-of-type {
        font-family: Montserrat;
        color: #333333;
        font-size: 14px; /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        text-align: left;
        text-transform: uppercase;
      }
      & > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        & > img {
          width: 25%;
          margin: 1px;
        }
      }
      & > span:last-of-type {
        font-family: Roboto;
        color: #333333;
        font-size: 13px; /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        font-style: italic;
        line-height: 24px; /* Приближение из-за подстановки шрифтов */
        text-align: left;
      }
    }
  }
  & > hr {
    background-color: #e5e5e5;
    width: 62.5%;
    height: 1px;
  }
  & > div {
    & > span {
      font-family: Montserrat;
      color: #333333;
      font-size: 14px; /* Приближение из-за подстановки шрифтов */
      font-weight: 400;
      text-align: center;
      & > a {
        color: #ff8181;
      }
    }
  }
}
